# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=717eb881-8416-49c8-9be7-a52a03f7c2f2

    # Set to true to disable all reporting
    B:opt-out=false
}


