# Configuration file

"biome ids" {
    S:"Ender Forest Biome ID"=143
    S:"Luminous Cliffs Biome ID"=145
    S:"Luminous Cliffs Edge Biome ID"=146
    S:"Rainbow Forest Biome ID"=147
}


"client specific" {
    B:"[CA4141814] Connected Crystalline Stone Textures"=false
    B:"[D41A5FE0A] Dye Block Particles"=true
    B:"[DAD7B6343] Disable Pendant Particles"=true
    I:"[E23FB72C7] Energy Buffer Overlay Location"=0
    B:"[ED05EFE0A] Ender Forest Coloring"=false
    B:"[LFB1ADAF3] Lamp Noises"=true
    B:"[NF791051B] Notify players via chat of their own progress gains"=false
    I:"[P14E93D70] Progression Notification Duration"=800
    B:"[P1DDD7839] Play Dimension Join Sound For Others"=true
    B:"[R05C0251E] Reload Handbook Data on Open"=false
    B:"[UD30C7069] Use vanilla keybind system for ability selection GUI"=false
}


"control setup" {
    B:"Adjacency Upgrades Require Energy"=false
    B:"Allow Danger in Rainbow Forests"=false
    B:"Allow Structure Bypass Passwords"=true
    B:"Allow duplication wand to copy TileEntities"=false
    B:"Always Respawn EnderDragon"=false
    B:"Auxiliary Fragment Acquisition"=false
    B:"Blend CC Biome Edges"=true
    I:"Cave Lighter Range"=128
    I:"Cave Lighter Zone Size"=8
    I:"Chest Generation Tier"=4
    B:"Crystal Plants May Drop Shards"=true
    B:"Delete End on Unload"=false
    I:"Dimension Structure Difficulty"=3
    I:"Duplication Wand Max Volume"=1000
    B:"Enable Ball Lightning"=true
    B:"Enable Biome Painter"=true
    B:"Enable Ender TNT"=true
    I:"Ender Forest Biome Weight"=10
    I:"Ender Pool Density from 1 to 3"=2
    B:"Generate Anti-Taint plants in Rainbow Forest"=true
    B:"Generate Pylons in Non-Overworld"=false
    B:"Generate Some Pylons as Broken"=false
    I:"Guardian Stone Range"=16
    B:"Guardian Stone is Full Chunk Height"=false
    B:"Liquid Ender Effect"=true
    I:"Lumen Relay Range"=16
    I:"Luminous Cliffs Biome Weight"=4
    B:"Make Pylon pathfinding attempt shortest path - can be intensive"=true
    B:"Make ThaumCraft integration require ThaumCraft progression"=false
    I:"Max Accelerator Lag in NanoSeconds"=1000000
    B:"Nether Crystals"=true
    B:"Notify players of progress gains"=true
    I:"Orchestra MIDI Size Limit (KB)"=80
    B:"Pylons Chunkload Selves Once Used"=true
    I:"Rainbow Forest Animal Density"=6
    I:"Rainbow Forest Biome Weight"=10
    D:"Rainbow Leaf Gold Apple Drop Percentage"=0.25
    B:"Rainbow Trees Spread Rainbow Forests"=true
    B:Retrogeneration=false
    B:"Run Worldgen in Superflat Worlds"=false
    B:"Spawn with CC Lexicon"=true
    I:"Vanilla Dye Drop Percentage"=100
    B:"World Rifts Chunkload"=false
    B:"World Shift Can Move TileEntities"=false
}


"dimension biome ids" {
    S:"Aura Ocean Biome ID"=148
    S:"Central Biome ID"=150
    S:"Crystal Forest Biome ID"=152
    S:"Crystal Mountains Biome ID"=153
    S:"Crystal Plains Biome ID"=154
    S:"Glowing Forest Biome ID"=159
    S:"Island Biome ID"=168
    S:"Monument Field Biome ID"=169
    S:"Radiant Fissures Biome ID"=170
    S:"Skyland Biome ID"=171
    S:"Sparkling Sands Biome ID"=172
    S:"Structure Biome ID"=173
    S:"Voidland Biome ID"=174
}


"enchantment ids" {
    S:"Aggro Mask ID"=9
    S:"Air Miner ID"=10
    S:"Armor Breach ID"=11
    S:"Capital Strike ID"=12
    S:"Ender Lock ID"=13
    S:"Harvest Boost ID"=14
    S:"Rapid Descent ID"=15
    S:"Rare Loot ID"=22
    S:"Use Repair ID"=23
    S:"Weapon AOE ID"=24
}


"generate mod logs" {
    B:Alder=false
    B:Amaranth=true
    B:Ash=false
    B:Bamboo=false
    B:"Biomes O Plenty Mangrove"=true
    B:"Biomes O Plenty Willow"=true
    B:Bloodwood=false
    B:Canopy=false
    B:Cherry=true
    B:Dark=false
    B:Darkwood=false
    B:Eucalyptus=true
    B:"ExtraBiomes XL Redwood"=true
    B:Fir=true
    B:Force=false
    B:Fusewood=false
    B:Ghostwood=false
    B:Glow=false
    B:Greatwood=false
    B:Hawthorne=false
    B:Hellbark=false
    B:Highacacia=true
    B:Highcanopy=true
    B:Highfir=true
    B:Highmangrove=true
    B:Highpalm=true
    B:Highredwood=true
    B:Hopseed=false
    B:"IndustrialCraft Rubber"=false
    B:Ironwood=false
    B:Jacaranda=true
    B:Lighted=false
    B:Loftwood=false
    B:Magic=false
    B:Mahogany=true
    B:Mangrove=true
    B:Maple=true
    B:"MineFactory Reloaded Rubber"=false
    B:Minewood=false
    B:"Natura Darkwood"=true
    B:Palm=true
    B:Pine=true
    B:Poplar=true
    B:Redwood=true
    B:Rowan=false
    B:Sacred=true
    B:Sakura=true
    B:Sequoia=true
    B:Silverbell=true
    B:Silverwood=false
    B:Slime=false
    B:Sorting=false
    B:Tainted=false
    B:Tigerwood=true
    B:Timewood=false
    B:Transformation=false
    B:Twilightoak=false
    B:Willow=false
    B:Witchwood=false
}


"generate vanilla logs" {
    B:Acacia=true
    B:Birch=true
    B:Darkoak=true
    B:Jungle=true
    B:Oak=true
    B:Spruce=true
}


"other ids" {
    S:"Chromastone Material ID"=90
    S:"Dimension ID"=60
}


"other options" {
    S:"Guardian Stone Exceptions" <
        none#RIGHT_CLICK_AIR
        none#RIGHT_CLICK_BLOCK
        none#LEFT_CLICK_BLOCK
        ExtraUtilities:dark_portal:2#RIGHT_CLICK_BLOCK
     >
}


"potion ids" {
    S:"Growth Hormone ID"=145
    S:"Lumarhea ID"=146
    S:"Lumen Regen ID"=147
    S:"Regen ID"=148
    S:"Saturation ID"=149
    S:"Void Gaze ID"=150
}


